<h1>Overview of details for user {{ user?.username}}</h1>
<div *ngIf="user">

    <label>id: <input readonly [(ngModel)]="user.id" placeholder="generated id"/></label> <br>

    Username: <input [(ngModel)]="user.username" ><br>
  
    Password: <input [(ngModel)]="user.wachtwoord" ><br>
  
    Bio: <input [(ngModel)]="user.bio"><br>
    
    First Name: <input [(ngModel)]="user.voornaam"><br>
    
    Last Name: <input [(ngModel)]="user.achternaam"><br>
    
    Email: <input [(ngModel)]="user.email"><br>
  
    
    <input type="button" value="Save" (click)="update();">


</div>